<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FortisCollections.Toolcore.Update.Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <FortisCollections.Toolcore.Update.Runner.Properties.Settings>
            <setting name="FortisCollections_Toolcore_Update_Runner_PackageInstall_PackageInstall" serializeAs="String">
                <value>http://scpackageinstaller/PackageInstall.asmx</value>
            </setting>
            <setting name="ServiceFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServiceFileName" serializeAs="String">
                <value>PackageInstall.asmx</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>00:20:00</value>
            </setting>
            <setting name="RetryInterval" serializeAs="String">
                <value>00:00:05</value>
            </setting>
        </FortisCollections.Toolcore.Update.Runner.Properties.Settings>
    </applicationSettings>
</configuration>
