<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FortisCollections.Toolcore.Indexing.Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <FortisCollections.Toolcore.Indexing.Runner.Properties.Settings>
            <setting name="ServiceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceFileName" serializeAs="String">
                <value>Indexing.asmx</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>00:02:00</value>
            </setting>
            <setting name="RetryInterval" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="FortisCollections_Toolcore_Indexing_Runner_Indexing_Indexing"
                serializeAs="String">
                <value>http://scpackageinstaller/Indexing.asmx</value>
            </setting>
        </FortisCollections.Toolcore.Indexing.Runner.Properties.Settings>
    </applicationSettings>
</configuration>